.header {
    border-width: 0.14px;
    border-color: #b5b7ba;
    border-style: solid;
    background-color: #dfdfdf;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}



.header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 100;
    padding-right: 30px;

}

.footer {
    background-color: #434445;
    height: 40px;
    text-align: center;
    font-size: 20px;

    padding-bottom: 5px;
    color: #a4a4a4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

body {
    margin-bottom: 60px;
}

.list {
    border: 1px solid grey;
    border-collapse: collapse;
    width: 100%;

}

.list td {
    border: 1px solid grey;
    border-collapse: collapse;

}

.list th {
    border: 1px solid grey;
    border-collapse: collapse;
}